abiword= 
libreoffice= 
arandr= 
cura= 
Evince= 
evolution= 
firefox= 
gimp= 
Hopper= 
inkscape= 
keepassx2= 
krita= 
Minecraft 1.11.2= 
nautilus= 
Navigator=
net-minecraft-bootstrap-Bootstrap= 
openscad= 
pavucontrol= 
sun-awt-X11-XFramePeer= 
qtcreator= 
quasselclient= 
Slic3r= 
sublime_text= 
subl3= 
VirtualBox= 
vlc= 
pantheon-music= 
lxappearance= 
Wireshark-gtk= 
xfce4-terminal= 
zim= 
wireshark-gtk= 
rhythmbox= 
seahorse= 
evience= 
kicad= 
VirtualBox Manager= 
virt-manager= 
nm-connection-editor= 
chromium= 
simple-scan= 
MellowPlayer= 